
.input-area {
  display: block;
  width: 780px;
  min-height: 100px;
  margin: 50px auto;
  background-color: #eff2f4;
  border-radius: 5px;
  border: none;
  outline-color: #e5e9eb;
  font-size: 20px;
  font-family: 'Segoe UI', sans-serif;
  letter-spacing: 0.06em;
  padding: 10px;
  resize: none;
}

.input-area::placeholder {
  color: #c0cacf;
}

.keyboard {
  position: fixed;
  left: 0;
  right: 0;
  top: 200px;
  width: fit-content;
  margin: auto;
  background-color: #e5e9eb;
  border-radius: 6px;
  user-select: none;
  opacity: 1;
  transition: opacity 0.4s;
  padding: 10px;
}

.row {
  display: flex;
  flex-direction: row;
}

.keyboard__key {
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  height: 46px;
  min-width: 46px;
  margin: 3px;
  background-color: #3d4952;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 18px;
  color: #ffffff;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}

.keyboard__key--special {
  background-color: #1c252c;
  color: #c5cdd4;
  font-size: 14px;
}

.keyboard__key--wide {
  width: 98px;
}

.keyboard__key--extra-wide {
  width: 358px;
}

.keyboard__key:active,
.keyboard__key--pressed {
  background: #708492;
}

.keyboard__key--activatable::before {
  content: '';
  top: 10px;
  right: 10px;
  position: absolute;
  height: 6px;
  width: 6px;
  background-color: #a0adb6;
  border-radius: 50%;
  transition: 0.3s;
}

.keyboard__key--active::before {
  background-color: #08ff00;
}